In [1]:
import pandas as pd
import requests
import json
import numpy as np
from keras.models import Sequential
from keras.layers import Embedding,LSTM,Dense,SpatialDropout1D, GlobalMaxPool1D, Dropout
from keras.initializers import Constant
from sklearn.model_selection import train_test_split
from keras.optimizers import Adam
from keras import optimizers
import pickle
from data_cleaner import overall_cleaner

Using TensorFlow backend.

In [3]:
data_review = [json.loads(line) for line in open('datasets/review.json', 'r')]
data_business = [json.loads(line) for line in open('datasets/business.json', 'r')]
data_user = [json.loads(line) for line in open('datasets/user.json', 'r')]

review_df = pd.DataFrame(data_review)
biz_df = pd.DataFrame(data_business)
user_df = pd.DataFrame(data_user)

r_u_df = review_df.merge(user_df,on = "user_id")
r_u_b_df = r_u_df.merge(biz_df, on = "business_id")
r_u_b_df.columns

Index(['business_id', 'cool_x', 'date', 'funny_x', 'review_id', 'stars_x',
       'text', 'useful_x', 'user_id', 'average_stars', 'compliment_cool',
       'compliment_cute', 'compliment_funny', 'compliment_hot',
       'compliment_list', 'compliment_more', 'compliment_note',
       'compliment_photos', 'compliment_plain', 'compliment_profile',
       'compliment_writer', 'cool_y', 'elite', 'fans', 'friends', 'funny_y',
       'name_x', 'review_count_x', 'useful_y', 'yelping_since', 'address',
       'attributes', 'categories', 'city', 'hours', 'is_open', 'latitude',
       'longitude', 'name_y', 'postal_code', 'review_count_y', 'stars_y',
       'state'],
      dtype='object')

In [4]:
review_text = overall_cleaner(r_u_b_df, ['text', 'user_id', 'state','stars_x'])
review_text.set_index('user_id', inplace=True)

states_l = []

for i in np.unique(r_u_b_df['state']):
    states_l.append(i)
    
nv_df = review_text.groupby('state').get_group('NV')
nv_df.drop('state', axis=1, inplace=True)

/usr/local/lib/python3.5/dist-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [26]:
review_text.groupby('state').count().sort_values('text', ascending=False)

          text  stars_x
state
NV     2320491  2320491
AZ     2082951  2082951
ON      784461   784461
NC      408060   408060
OH      321345   321345
PA      290097   290097
QC      179039   179039
WI      133660   133660
AB       99639    99639
IL       42371    42371
SC       21272    21272
TX        1071     1071
FL         726      726
NY         283      283
CA         251      251
WA          19       19
CT          17       17
VA          16       16
XGM         14       14
NM          14       14
GA          14       14
NE          12       12
AL          12       12
NJ           8        8
VT           8        8
XWY          8        8
AK           7        7
AR           7        7
DOW          4        4
UT           4        4
BAS          4        4
DUR          3        3
TN           3        3
CON          3        3
BC           3        3
XGL          3        3

In [19]:
nv_df = review_text.groupby('state').get_group('NV')
az_df = review_text.groupby('state').get_group('AZ')
nc_df = review_text.groupby('state').get_group('NC')
on_df = review_text.groupby('state').get_group("ON")
oh_df = review_text.groupby('state').get_group('OH')
pa_df = review_text.groupby('state').get_group('PA')
qc_df = review_text.groupby("state").get_group('QC')
wi_df = review_text.groupby('state').get_group('WI')
ab_df = review_text.groupby('state').get_group('AB')

In [40]:
pickle.dump(nv_df.sample(n=95000), open('ten_sorted/nv_df.p', 'wb'))
pickle.dump(az_df.sample(n=95000), open('ten_sorted/df_az.p', 'wb'))
pickle.dump(nc_df.sample(n=95000), open('ten_sorted/df_nc.p', 'wb'))
pickle.dump(on_df.sample(n=95000), open('ten_sorted/df_on.p', 'wb'))
pickle.dump(oh_df.sample(n=95000), open('ten_sorted/df_oh.p', 'wb'))
pickle.dump(pa_df.sample(n=95000), open('ten_sorted/df_pa.p', 'wb'))
pickle.dump(qc_df.sample(n=95000), open('ten_sorted/df_qc.p', 'wb'))
pickle.dump(wi_df.sample(n=95000), open('ten_sorted/df_wi.p', 'wb'))
pickle.dump(ab_df.sample(n=95000), open('ten_sorted/df_ab.p', 'wb'))