In [1]:
import pandas as pd
import numpy as np
import pickle
from yhelper import overall_cleaner, lang_filter

In [2]:
data_review = [json.loads(line) for line in open('datasets/review.json', 'r')]
data_business = [json.loads(line) for line in open('datasets/business.json', 'r')]
data_user = [json.loads(line) for line in open('datasets/user.json', 'r')]

review_df = pd.DataFrame(data_review)
biz_df = pd.DataFrame(data_business)
user_df = pd.DataFrame(data_user)

review_df.rename(columns={'stars': 'review_rating', 'useful':'review_usefulness'}, inplace=True)
user_df.rename(columns={'fans':'user_fans', 'funny':'user_funny', 'review_count': 'user_review_count', 'useful':'user_useful'}, inplace=True)
biz_df.rename(columns={'review_count':'review_count_biz', 'stars':'biz_stars'}, inplace=True)

r_u_df = review_df.merge(user_df,on = "user_id")
r_u_b_df = r_u_df.merge(biz_df, on = "business_id")
r_u_b_df.dropna(inplace=True)

r_u_b_df.columns

Index(['business_id', 'cool_x', 'date', 'funny', 'review_id', 'review_rating',
       'text', 'review_usefulness', 'user_id', 'average_stars',
       'compliment_cool', 'compliment_cute', 'compliment_funny',
       'compliment_hot', 'compliment_list', 'compliment_more',
       'compliment_note', 'compliment_photos', 'compliment_plain',
       'compliment_profile', 'compliment_writer', 'cool_y', 'elite',
       'user_fans', 'friends', 'user_funny', 'name_x', 'user_review_count',
       'user_useful', 'yelping_since', 'address', 'attributes', 'categories',
       'city', 'hours', 'is_open', 'latitude', 'longitude', 'name_y',
       'postal_code', 'review_count_biz', 'biz_stars', 'state'],
      dtype='object')

In [3]:
review_text = overall_cleaner(r_u_b_df, ['text', 'state', 'review_rating', 
                                         'review_usefulness', 'user_fans', 'user_funny',
                                         'user_review_count', 'user_useful', 'review_count_biz', 
                                         'biz_stars'])

/usr/local/lib/python3.5/dist-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [11]:
review_text.groupby('state').count().sort_values('text')

,text,review_rating,review_usefulness,user_fans,user_funny,user_review_count,user_useful,review_count_biz,biz_stars
state,,,,,,,,,
XWY,3,3,3,3,3,3,3,3,3
XGL,3,3,3,3,3,3,3,3,3
BC,3,3,3,3,3,3,3,3,3
TN,3,3,3,3,3,3,3,3,3
AL,4,4,4,4,4,4,4,4,4
UT,4,4,4,4,4,4,4,4,4
VT,5,5,5,5,5,5,5,5,5
AR,7,7,7,7,7,7,7,7,7
NE,8,8,8,8,8,8,8,8,8
XGM,8,8,8,8,8,8,8,8,8
CT,14,14,14,14,14,14,14,14,14
GA,14,14,14,14,14,14,14,14,14
NM,14,14,14,14,14,14,14,14,14
WA,19,19,19,19,19,19,19,19,19
FL,37,37,37,37,37,37,37,37,37
CA,126,126,126,126,126,126,126,126,126
NY,212,212,212,212,212,212,212,212,212
TX,1057,1057,1057,1057,1057,1057,1057,1057,1057
SC,17581,17581,17581,17581,17581,17581,17581,17581,17581
IL,35896,35896,35896,35896,35896,35896,35896,35896,35896
AB,79860,79860,79860,79860,79860,79860,79860,79860,79860
WI,121744,121744,121744,121744,121744,121744,121744,121744,121744
QC,153470,153470,153470,153470,153470,153470,153470,153470,153470
PA,254545,254545,254545,254545,254545,254545,254545,254545,254545
OH,281844,281844,281844,281844,281844,281844,281844,281844,281844
NC,362516,362516,362516,362516,362516,362516,362516,362516,362516
ON,665984,665984,665984,665984,665984,665984,665984,665984,665984
AZ,1865721,1865721,1865721,1865721,1865721,1865721,1865721,1865721,1865721
NV,2117233,2117233,2117233,2117233,2117233,2117233,2117233,2117233,2117233

In [4]:
nv_df = review_text.groupby('state').get_group('NV')
az_df = review_text.groupby('state').get_group('AZ')
nc_df = review_text.groupby('state').get_group('NC')
on_df = review_text.groupby('state').get_group("ON")
oh_df = review_text.groupby('state').get_group('OH')
pa_df = review_text.groupby('state').get_group('PA')
qc_df = review_text.groupby("state").get_group('QC')
wi_df = review_text.groupby('state').get_group('WI')
ab_df = review_text.groupby('state').get_group('AB')

In [ ]:
pickle.dump(lang_filter(nv_df.sample(n=95000)), open('by_states/df_nv.p', 'wb'))
pickle.dump(lang_filter(az_df.sample(n=95000)), open('by_states/df_az.p', 'wb'))
pickle.dump(lang_filter(nc_df.sample(n=95000)), open('by_states/df_nc.p', 'wb'))
pickle.dump(lang_filter(on_df.sample(n=95000)), open('by_states/df_on.p', 'wb'))
pickle.dump(lang_filter(oh_df.sample(n=95000)), open('by_states/df_oh.p', 'wb'))
pickle.dump(lang_filter(pa_df.sample(n=95000)), open('by_states/df_pa.p', 'wb'))
pickle.dump(lang_filter(qc_df.sample(n=95000)), open('by_states/df_qc.p', 'wb'))
pickle.dump(lang_filter(wi_df.sample(n=95000)), open('by_states/df_wi.p', 'wb'))